.base-button {
    border: 1px solid transparent;
    color: #fff;
    background-color: #2ca01c;
    font-weight: 600;
    height: 36px;
    padding: 8px 20px;
    border-radius: 3px;
    transition: all .2s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.base-button:hover, .base-button:focus {
    background-color: #35bf22;
    outline: none;
}

.base-button:active {
    background-color: #248b15;
}