.base-second-button {
    height: 36px;
    padding: 8px 20px;
    border: 1px solid #8d9096;
    display: flex;
    font-weight: 600;
    background-color: transparent;
    border-radius: 3px;
    transition: all .2s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.base-second-button:hover {
    background-color: #d2d3d6;
    ;
}

.base-second-button:active {
    background-color: #bbbcbc;
}