.content {
    overflow-y: auto;
}

.content-header {
    height: 102px;
    display: flex;
    align-items: center;
    font-family: notosans-bold;
    font-size: 24px;
}

.content-header .header-right {
    margin-left: auto;
}

.grid-data {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.grid-data .grid-header {
    height: 72px;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.grid-header .flex-grow {
    width: calc(100% - 300px);
}

.grid-header .searchbox-container {
    position: relative;
    width: 240px;
    height: 32px;
    display: flex;
    align-items: center;
}

.searchbox-container input {
    width: calc(100% - 14px);
    height: calc(100% - 2px);
    padding-left: 12px;
    border: 1px solid #babec5;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.searchbox-container input:focus {
    border-color: #2ca01c;
    outline: none;
}

.searchbox-container input::placeholder {
    font-family: notosans-italic;
}

.searchbox-container .search-icon {
    position: absolute;
    right: 6px;
    background: url('../../../../assets/img/Sprites.64af8f61.svg') no-repeat -992px -360px;
    width: 16px;
    height: 16px;
}

.grid-header .reset-icon {
    margin-left: 12px;
    background: url('../../../../assets/img/Sprites.64af8f61.svg') no-repeat -423px -201px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.grid-header .reset-icon:hover {
    background-position: -1097px -88px;
}

.grid-table {
    padding-left: 20px;
    overflow: hidden;
}

.table-container {
    width: calc(100% - 30px);
    height: 100%; 
    overflow: auto;
}

.table-container .table-viewer {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    width: 100%;
}

.table-viewer .table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-viewer tr td {
    padding: 5px 10px;
}

thead tr td {
    border-left: 1px solid #c7c7c7;
}

tbody tr td {
    border-left: 1px dotted #c7c7c7;
}

.function-cell .function {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    cursor: pointer;
}

.function .function-text {
    height: 100%;
    display: flex;
    align-items: center;
    font: 600 13.3333px Arial;
    color: #0075c0;
}

.function .function-arrow {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.function-arrow .arrow-icon {
    background: url('../../../../assets/img/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
}

.table-viewer td, th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-viewer thead tr {
    height: 34px;
    background-color: #eceef1;
}

.table-viewer thead tr>*:nth-child(1) {
    border-right: 1px solid #c7c7c7 !important;
}

.table-viewer thead tr td {
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid #c7c7c7;
}

.table-viewer thead tr td input {
    width: 18px;
    height: 18px;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

.table-body tr {
    height: 47px;
}

.table-body tr td {
    border-bottom: 1px solid #c7c7c7;
}

tr>*:nth-child(1) {
    text-align: center;
    vertical-align: middle;
    position: sticky;
    left: 0;
    border-left: none !important;
    border-right: 1px dotted #c7c7c7;
}

tr>*:nth-child(2) {
    border-left: none !important;
}

tr>*:nth-child(6) {
    justify-content: center;
}

tr>*:nth-child(12) {
    position: sticky;
    right: 0;
    justify-content: center;
}

.table-pagination {
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-pagination .pagination-left {
    max-width: 336px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.table-pagination .pagination-right {
    padding-right: 36px;
    display: flex;
    align-items: center;
}

.pagination-right .prev-pagination {
    cursor: pointer;
}

.pagination-right .next-pagination {
    cursor: pointer;
}

.pagination-numbers {
    display: flex;
    align-items: center;
}